.paper {
    margin-top: 140px;
}

.paper h1 {
    font-size: 40px;
    text-align: center;
}

.gray_box {
    background-color: rgba(0, 0, 0, 0.07);
    /* background-image: url(../images/m2.png);
    background-repeat: no-repeat; */
    height: 1109px;
    width: 1209px;
}